Python 3 deployment/python3setup.log,
Configurations/*.rdg
Configurations/Automation/autostoreopen.ps1
Configurations/Automation/taskcreate_autostoreopen.bat
Configurations/desktop.ini
Configurations/*.ibak
Configurations/localpwsafe_010.ibak
Configurations/*.psafe3
Rust Demo/test_rust_utm_converter/target/
**/*.rs.bk
Cargo.lock
*.log
*.tmp
*.swp
/doc/
.rustup/
.rustc/
.venv
